body {
  background-color: #3b3b3b;
  margin: 0;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin-left: 20px;
}

input,
select {
  height: 51px;
  width: 223px;
  border-radius: 15px;
  color: #919191;
  border: none;
  box-shadow: rgb(38, 57, 77) 0px 10px 20px -5px;
  padding-left: 10px;
}

.add-balance {
  width: 538px;
  height: 164px;
  border-radius: 15px;
  color: black;
  background-color: #efefef;
  margin: 15px;
  position: sticky;
  top: 30%;
  left: 30%;
}

.app-container {
  background-color: #3b3b3b;
  color: #ffffff;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}

.recentTransaction,
.topExpenses {
  background-color: #ffffff;
  color: black;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

.recentTransaction {
  margin-left: 0;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .recentTransaction,
  .topExpenses {
    flex: 1;
    max-width: 48%;
  }
}

/* Large desktop styles */
@media (max-width: 1024px) {
  .recentTransaction,
  .topExpenses {
    max-width: 740px;
    margin-left: 20px;
  }
}

/* Default styles for .containerUp */
.containerUp {
  height: 269px; /* Default height */
  transition: height 0.3s ease; /* Smooth transition for height changes */
}

/* Media query for screens smaller than 780px */
@media (max-width: 780px) {
  .containerUp {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 550px; /* Increased height */
  }

  .containerUp > * {
    margin-bottom: 10px;
    max-width: 100%;
  }
}
